Fabric==1.5.1
env==0.1.0
fabtools==0.8.1
futures==2.1.3
meld3==0.6.10
mongoengine==0.7.8
nose==1.2.1
paramiko==1.9.0
py-bcrypt==0.2
pycrypto==2.6
pymongo==2.4.1
python-dateutil==2.1
redis==2.7.2
six==1.2.0
supervisor==3.0b1
tornado==3.1
tornado-redis==1.0.1
-e git://github.com/davidwilemski/tornado-tinyfeedback.git@5efb9a9cef4ae27d10c2b52798c5ed4f109070db#egg=tornadotinyfeedback-dev
wsgiref==0.1.2
coveralls==0.2
mongoctl
boto
setproctitle
