{% extends 'base.html' %}

{% block content %}
<h2>Add A Run:</h2>

<form action="/add" method="POST">
    <label for="distance">Distance (Miles)</label>
    <input type="text" name="distance" id="distance" placeholder="4" />
    <br />
    <label for="time">Time (HH:MM:SS)</label>
    <input type="text" name="time" id="time" placeholder="00:28:00"/>
    <br />
    <label for="notes">Notes:</label>
    <textarea name="notes" id="notes" placeholder="Thoughts about your run here"></textarea>
    <br />
    <button type="submit" class="btn-primary">Add Run</button>
</form>

{% end %}
