{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ static_url('css/xcharts.min.css') }}" type="text/css" />
{% end %}

{% block content %}
<div class="row">
    <div class="span4">
    <h1>Recent Runs:</h1>
    <p>
        <a class="label label-success" data-toggle="modal" href="#addrun" >Add a run</a>
    </p>

    <p>

        {% for run in recent_runs %}
            <div>{{ escape(run.date.strftime('%x')) }} - {{ escape(str(run.distance)) }} Miles - {{ escape(run.time) }}</div>
        {% end %}

    </p>
    </div>
    <div class="span8">
        <h2>This Week</h2>
        <figure style="width: 650px; height: 300px;" id="week"></figure>

        <h2>Weekly Mileage</h2>
        <figure style="width: 650px; height: 300px;" id="weekly"></figure>

    </div>
</div>

<div class="modal fade" id="addrun">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">x</a>
        <h3>Add A Run</h3>
    </div>
    <form id="addrunform" method="POST" action="/add">
    <div class="modal-body">
            <label for="date">Date (MM-DD-YY)</label>
            <input type="text" name="date" id="date" value="{{ today }}"/>
            <br />
            <label for="distance">Distance (Miles)</label>
            <input type="text" name="distance" id="distance" placeholder="4" />
            <br />
            <label for="time">Time (HH:MM:SS)</label>
            <input type="text" name="time" id="time" placeholder="00:28:00"/>
            <br />
            <label for="notes">Notes:</label>
            <textarea name="notes" id="notes" placeholder="Thoughts about your run here"></textarea>
            <br />
    </div>
    <div class="modal-footer">
            <button id="addrunbtn" onclick="" type="submit" class="btn-primary">Add Run</button>
            <!--<button id="addrunbtn" onclick="return false;" type="submit" class="btn-primary">Add Run</button>-->
    </div>
    </form>
</div>
{% end %}

{% block bottom %}
<script src="{{ static_url('js/bootstrap-modal.js') }}"></script>
<script src="{{ static_url('js/bootstrap-transition.js') }}"></script>
<script src="{{ static_url('js/d3.v2.min.js') }}"></script>
<script src="{{ static_url('js/xcharts.min.js') }}"></script>

<script>
    $(function() {
        $("#msg").ajaxError(function(event, request, settings){
          $(this).append("<li>Error requesting page " + settings.url + "</li>");
        });

        $.get("/data/this_week", function(data) {
            var weekChart = new xChart('bar', data, '#week');
        });

        /*
        $("#addrunbtn").click(function(){
            $.post("/add",$("#addrunform").serialize(), function(data){
                alert("hiya");
            });
        });
        */
    });
</script>
{% end %}
