<a href="{{ profile.uri }}">
    {% raw gravatar_html(profile.email, 200) %}
    <h1>{{ profile.display_name }}</h1>
</a>
<p>
    All Time: {{ profile.total_mileage }} Miles<br />
    {{ this_year }}: {{ profile.yearly_mileage }} Miles<br />
    {# {% set streaks = profile.get_streaks %}
    {% set streak = streaks['longest'] %}
    Longest Streak: {{ streak['length'] }} days<br />
    <small>{{ streak['start'] }} - {{ streak['end'] }}</small><br />
    {% set current_streak = streaks['current'] %}
    Current Streak: {{ current_streak['length'] }} days<br />
    <small>{{ current_streak['start'] }} - {{ current_streak['end'] }}</small><br /> #}
</p>
