{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ static_url('css/xcharts.min.css') }}" type="text/css" />

<style>
    .center {
        text-align: center;
    }
</style>
{% end %}

{% block content %}
<div class="row">
    <div class="span3">
    {% include '_profile_starter.html' %}

    </div>
    <div class="span9">
        <div class="well">
            <form class="form-search" action="{{ profile.uri + '/runs' }}">
                <input name="keywords" type="text" class="input-medium search-query" 
                {% if keywords %} value="{{ keywords }}" {% end %} placeholder="Search Notes">
            </form>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Distance (miles)</th>
                    <th>Time</th>
                    <th>Pace</th>
                    <th>Notes</th>
                </tr>
            </thead>
        {% for run in runs %}
            <tr>
                <td><a href="{{ run_uri(run) }}">{{ run.date.strftime('%x') }}</a></td>
                <td>{{ run.distance }}</td>
                <td>{{ run.pretty_time }}</td>
                <td>{{ run.pace}}</td>
                <td>{% raw run.pretty_notes %}</td>
            </tr>
        {% end %}
        </table>
        
    </div>

</div>

{% end %}
