{% from openrunlog.util import gravatar_html %}
<!DOCTYPE html>
<html>
    <head>
        <title>Open Run Log | {{ escape(page_title) }}</title>
        <link rel="stylesheet" href="{{ static_url('css/bootstrap.min.css') }}" type="text/css" />
        {% block head %}
        {% end %}
    </head>

    <body>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="/">
                        Open Run Log
                    </a> 
                    <ul class="nav pull-right">
                        <li class="divider-vertical"></li>
                        {% if user %}
                        <li class="dropdown">
                            <a href="#"
                                class="dropdown-toggle"
                                data-toggle="dropdown">
                                    {% raw gravatar_html(user.email) %}
                                    {{ user.email }} 
                                    <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a data-toggle="modal" href="#addrun" >Add A Run</a></li>
                                <li><a href="/logout">Log Out</a></li>
                            </ul>
                        </li>
                        {% else %}
                        <li><a href="/login">Log In</a></li>
                        {% end %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="span2">
                    <p>&nbsp;</p>
                </div>
                <div class="span8">
                    {% if error %}
                        <div class="alert alert-error">
                            <p>{{ error }}</p>
                        </div>
                    {% end %}
                </div>
                <div class="span2">
                    <p>&nbsp;</p>
                </div>
            </div>

       {% block content %}
       {% end %}
       </div>

    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="{{ static_url('js/bootstrap-dropdown.js') }}"></script>
    {% block bottom %}
    {% end %}
</html>
