{% from openrunlog.util import gravatar_html %}
<!DOCTYPE html>
<html>
    <head>
        <title>Open Run Log | {{ escape(page_title) }}</title>
        <link rel="stylesheet" href="{{ static_url('css/bootstrap.min.css') }}" type="text/css" />
        {% block head %}
        {% end %}
    </head>

    <body>
        <div id="wrapper">
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="brand" href="/">
                            Open Run Log
                        </a> 
                        <ul class="nav pull-right">
                            <li class="divider-vertical"></li>
                            {% if user %}
                            <li class="dropdown">
                                <a href="#"
                                    class="dropdown-toggle"
                                    data-toggle="dropdown">
                                        {% raw gravatar_html(user.email) %}
                                        {{ user.email }} 
                                        <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="/settings">Settings</a></li>
                                    <li><a href="/logout">Log Out</a></li>
                                </ul>
                            </li>
                            {% else %}
                            <li><a href="/login">Log In</a></li>
                            {% end %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="span2">
                        <p>&nbsp;</p>
                    </div>
                    <div class="span8">
                        {% if error %}
                            <div class="alert alert-error">
                                <p>{{ error }}</p>
                            </div>
                        {% end %}
                    </div>
                    <div class="span2">
                        <p>&nbsp;</p>
                    </div>
                </div>

                {% block content %}
                {% end %}

            </div>

            <div id="push"></div>

        </div>

        <div id="footer">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <h6>Open Run Log made by <a href="https://twitter.com/davidwilemski">@davidwilemski</a> and <a href="https://twitter.com/bkendall">@bkendall</a></h6>
                    </div> 
                </div>
            </div>
        </div>

    </body>
    <style>
        html, body {
            height: 100%;
        }
        div#wrapper {
            min-height:100%;
            height: auto !important;
            height: 100%;
            margin: 0 auto -60px;
        }
        div#push,
        div#footer {
            height: 60px;
        }
        div#footer {
            background-color: #f5f5f5;
            text-align:center;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="{{ static_url('js/bootstrap.js') }}"></script>
    <script type="text/javascript" src="/static/js/parsley.min.js"></script>
    {% block bottom %}
    {% end %}
</html>
