{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ static_url('css/xcharts.min.css') }}" type="text/css" />
{% end %}

{% block content %}
<div class="row">
    <div class="span3">
    {% include '_profile_starter.html' %}
    </div>
    
    <div class="span9">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <td>Week Of</td>
                    <td>Monday</td>
                    <td>Tuesday</td>
                    <td>Wednesday</td>
                    <td>Thursday</td>
                    <td>Friday</td>
                    <td>Saturday</td>
                    <td>Sunday</td>
                    <td>Total</td>
                </tr>
            </thead>
            <tr>
            {% if calendar_runs[0]['date'].weekday() != 0 %}
                {% for x in range(calendar_runs[0]['date'].weekday() + 1) %}
                    <td></td>
                {% end %}
            {% end %}

            {% set miles = 0 %}
            {% set initial = True %}
            {% for day in calendar_runs %}
                {% if day['date'].weekday() == 0 %}
                    {% if not initial %}
                        <td>
                            {{ miles }} miles
                        </td>
                    {% end %}
                    {% set initial = False %}
                    </tr>
                    {% set miles = 0 %}
                    <tr>
                        <td>
                            {{ day['date'].strftime('%x') }}
                        </td>
                {% end %}
                <td>
                {% for run in day['runs'] %}
                    {% if run.id %}
                        {% set miles += run.distance %}
                        <p><a href="{{ run.uri }}">
                            {% if run.distance > 0 %}
                                {% if run.distance > 1 %}
                                    {{ run.distance }} Miles
                                {% else %}
                                    {{ run.distance }} Mile
                                {% end %}
                            {% else %}
                                OFF
                            {% end %}
                        </a></p>
                    {% else %}
                        <p>{{ run.distance }}</p>
                    {% end %}
                {% end %}
                </td>
            {% end %}
            
            {% if calendar_runs[len(calendar_runs) - 1]['date'].weekday() != 6 %}
                {% for x in range(6 - calendar_runs[len(calendar_runs)-1]['date'].weekday()) %}
                    <td></td>
                {% end %}
            {% end %}
                <td>
                    {{ miles }} miles
                </td>
            </tr>
        </table>
    </div>
</div>

{% end %}

{% block bottom %}
<style>
span.remove_run.label {
    margin-left: -26px;
}
div.recent_run {
    height: 20px;
    white-space: nowrap;
}
#time {
    margin-left: 36px;
}
</style>

{% end %}
