{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ static_url('css/xcharts.min.css') }}" type="text/css" />
{% end %}

{% block content %}
<div class="row">
    <div class="span3">
    {% raw gravatar_html(profile.email, 200) %}
    <h1>{{ profile.display_name }}</h1>
    <p>
        All Time: {{ profile.total_mileage }} Miles<br />
        {{ this_year }}: {{ profile.yearly_mileage }} Miles
    </p>

    <h2>Recent Runs:</h2>
    {% if user and user.email == profile.email %}
    <p>
        <a class="label label-success" data-toggle="modal" href="#addrun" >Add a run</a>
    </p>
    {% end %}

    <p>

        <form id="remove_run" action="/remove" method="post" style="display:none;">
            <input type="hidden" name="run_id" value="">
            <input type="submit">
        </form>
        {% for run in recent_runs %}
            <div class="recent_run" data-run-id="{{ run.id }}">
                <span style="display:none;" class="remove_run label label-important"><i type="submit" class="icon-remove icon-white"></i></span>
                {% if run.notes %}<span rel="tooltip" data-placement="right" data-title="{{ run.notes }}">{% end %}
                    <a href="{{ run.uri }}">{{ escape(run.date.strftime('%x')) }} - {{ escape(str(run.distance)) }} Miles - {{ run.pace }}</a>
                {% if run.notes %}</span>{% end %}
            </div>
        {% end %}

    </p>
    </div>
    <div class="span9">
        <div class="tabbable tabs-below">
            <div class="tab-content">
                <div class="tab-pane" id="thisweek2">
                    <h2>Runs per Weekday</h2>
                </div>

                <div class="tab-pane active" id="thisweek1">
                    <h2>This Week ({{ week.distance }} miles, {{ week.pretty_time }})</h2>
                    <figure style="width: 650px; height: 300px;" id="week"></figure>
                </div>
            </div>

            <ul class="nav nav-tabs" id="thisweek">
                <li class="active"><a href="#thisweek1" data-toggle="tab">This Week</a></li>
                <li><a href="#thisweek2" data-toggle="tab">Frequency By Day</a></li>
            </ul>
        </div>

        <h2>Weekly Mileage</h2>
        <div class="tabbable tabs-below">
            <div class="tab-content">
                <div class="tab-pane active" id="tab1">
                    <figure style="width: 650px; height: 300px;" id="weekly"></figure>
                </div>
                <div class="tab-pane" id="tab2">
                    <figure style="width: 650px; height: 300px;" id="weekly-thisyear"></figure>
                </div>
                <div class="tab-pane" id="tab3">
                    <figure style="width: 650px; height: 300px;" id="weekly-6months"></figure>
                </div>
                <div class="tab-pane" id="tab4">
                    <figure style="width: 650px; height: 300px;" id="weekly-3months"></figure>
                </div>
            </div>

            <ul class="nav nav-tabs" id="weekly-tabs">
                <li class="active"><a href="#tab1" data-toggle="tab">All Time</a></li>
                <li><a href="#tab2" data-toggle="tab">This Year</a></li>
                <li><a href="#tab3" data-toggle="tab">6 Months</a></li>
                <li><a href="#tab4" data-toggle="tab">3 Months</a></li>
            </ul>
            
        </div>

        <h2>Mileage This Year</h2>
        <figure style="width: 650px; height: 300px;" id="year"></figure>

    </div>
</div>

<div class="modal fade" id="addrun" style="display:none;">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">x</a>
        <h3>Add A Run</h3>
    </div>
    <form id="addrunform" method="POST" action="/add" class="form-horizontal">
    <div class="modal-body">
        <div class="control-group">
            <label class="control-label" for="date">Date (MM-DD-YY)</label>
            <div class="controls">
                <input type="text" name="date" id="date" value="{{ today }}" data-required="true" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="distance">Distance (Miles)</label>
            <div class="controls">
                <input type="text" name="distance" id="distance" placeholder="4" data-required="true" data-min="0" data-type="number"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="time">Time</label>
            <div class="controls">
                <input type="text" name="time" id="time" placeholder="28:00" data-required="true" data-time />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="notes">Notes:</label>
            <div class="controls">
                <textarea name="notes" id="notes" placeholder="Thoughts about your run here" data-regexp=".*"></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button id="addrunbtn" onclick="" type="submit" class="btn btn-primary">Add Run</button>
        <!--<button id="addrunbtn" onclick="return false;" type="submit" class="btn-primary">Add Run</button>-->
    </div>
    </form>
</div>
{% end %}

{% block bottom %}
<style>
span.remove_run.label {
    margin-left: -26px;
}
div.recent_run {
    height: 20px;
    white-space: nowrap;
}
</style>

<script src="{{ static_url('js/d3.v2.min.js') }}"></script>
<script src="{{ static_url('js/xcharts.min.js') }}"></script>

<script>
    var weekChart;
    var mileageChart;
    var mileageChartThisYear;
    var mileageChartSixMonths;
    var mileageChartThreeMonths;
    var totalMileageChart;
    $(function() {
        $('#weekly-tabs a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });

        $('#thisweek a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });

        $("#msg").ajaxError(function(event, request, settings){
          $(this).append("<li>Error requesting page " + settings.url + "</li>");
        });

        $.get("/data/{{ str(profile.id) }}/this_week", function(data) {
            var opts = {
              "dataFormatX": function (x) { return d3.time.format('%c').parse(x); },
              "tickFormatX": function (x) { return d3.time.format('%A')(x); },
              "yMin": 0
            };
            weekChart = new xChart('bar', data, '#week', opts);
        });

        $.get("/data/{{ str(profile.id) }}/mileage/weekly", function(data) {
            var opts = {
          "dataFormatX": function (x) { return d3.time.format('%m-%d-%Y').parse(x); },
          "tickFormatX": function (x) { return d3.time.format('%m-%d-%Y')(x); }
};
            mileageChart = new xChart('line', data, '#weekly', opts);
        });

        $.get("/data/{{ str(profile.id) }}/mileage/weekly?window_weeks=12", function(data) {
            var opts = {
          "dataFormatX": function (x) { return d3.time.format('%m-%d-%Y').parse(x); },
          "tickFormatX": function (x) { return d3.time.format('%m-%d-%Y')(x); }
};
            mileageChart = new xChart('line-dotted', data, '#weekly-3months', opts);
        });

        $.get("/data/{{ str(profile.id) }}/mileage/weekly?window_weeks=24", function(data) {
            var opts = {
          "dataFormatX": function (x) { return d3.time.format('%m-%d-%Y').parse(x); },
          "tickFormatX": function (x) { return d3.time.format('%m-%d-%Y')(x); }
};
            mileageChart = new xChart('line-dotted', data, '#weekly-6months', opts);
        });

        $.get("/data/{{ str(profile.id) }}/mileage/weekly?since={{ this_year }}", function(data) {
            var opts = {
                "dataFormatX": function (x) { return d3.time.format('%m-%d-%Y').parse(x); },
                "tickFormatX": function (x) { return d3.time.format('%m-%d-%Y')(x); }
            };
            mileageChartThisYear = new xChart('line-dotted', data, '#weekly-thisyear', opts);
        });

        $.get("/data/{{ str(profile.id) }}/mileage/weekly?since={{ this_year }}", function(data) {
            var opts = {
          "dataFormatX": function (x) { return d3.time.format('%m-%d-%Y').parse(x); },
          "tickFormatX": function (x) { return d3.time.format('%m-%d-%Y')(x); },
          "yMin": 0
};
            totalMileageChart = new xChart('cumulative', data, '#year', opts);
        });

        $.get("/data/{{ str(profile.id) }}/runs/weekday", function(data) {
            var days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"];
            var opts = {
                "tickFormatX": function (x) { return days[x]; },
                "yMin": 0
            };
            var div = $("#thisweek2")[0];
            var table = document.createElement("table");

            var tr = document.createElement("tr");
            var th = document.createElement("th");
            th.innerHTML = "Day";
            tr.appendChild(th);

            th = document.createElement("th");
            th.innerHTML = "# of runs";
            tr.appendChild(th);

            table.appendChild(tr);

            for(var i = 0; i < data.data.length; i++){
                tr = document.createElement("tr");

                var td = document.createElement("td");
                td.innerHTML = days[data.data[i].x];
                tr.appendChild(td);

                td = document.createElement("td");
                td.innerHTML = data.data[i].y;
                tr.appendChild(td);

                table.appendChild(tr);
            }

            div.appendChild(table);
            $("table").addClass("table");
        });

        {% if user and user.email == profile.email %}
        $('.recent_run').on('mouseenter', function() {
            $(this).children('.label').first().show();
            $('form#remove_run > input[name="run_id"]').val($(this).attr('data-run-id'));
        });
        $('.recent_run').on('mouseleave', function() {
            $(this).children('.label').first().hide();
            $('form#remove_run > input[name="run_id"]').val('');
        });
        $('span.remove_run').on('click', function() {
            if($('form#remove_run > input[name="run_id"]').val() === '') return;
            $('form#remove_run').submit();
        });
        $('.recent_run > span[rel="tooltip"]').tooltip();
        {% end %}


        /*
        $("#addrunbtn").click(function(){
            $.post("/add",$("#addrunform").serialize(), function(data){
                alert("hiya");
            });
        });
        */
    });
</script>

<script type="text/javascript" src="/static/js/parsley.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#addrunform').parsley({
            trigger: 'change',
            successClass: 'success',
            errorClass: 'error',
            validationMinlength: '1',
            errors: {
                classHandler: function(elem) {
                    return $(elem).parents('div.control-group').first();
                },
                errorsWrapper: '<span class="help-inline"></span>',
                errorElem: '<span></span>',
            },
            validators: {
                time: function(val) {
                    var time = /^((\d+:\d\d:\d\d$)|(\d+:\d\d$)|(\d+$))/m;
                    return time.test(val);
                }
            },
            messages: {
                time: "HH:MM:SS, MM:SS, or MM formats only"
            }

        });
        $('input#date').change();
    });
</script>
{% end %}
