{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ static_url('css/xcharts.min.css') }}" type="text/css" />
{% end %}

{% block content %}
<div class="row">
    <div class="span3">
    {% raw gravatar_html(profile.email, 200) %}
    <h1>{{ profile.display_name }}</h1>
    <p>
        All Time: {{ profile.total_mileage }} Miles<br />
        {{ this_year }}: {{ profile.yearly_mileage }} Miles
    </p>

    <h2>Recent Runs:</h2>
    <p>
        <a class="label label-success" data-toggle="modal" href="#addrun" >Add a run</a>
    </p>

    <p>

        {% for run in recent_runs %}
            <div>{{ escape(run.date.strftime('%x')) }} - {{ escape(str(run.distance)) }} Miles - {{ run.pace }}</div>
        {% end %}

    </p>
    </div>
    <div class="span9">
        <h2>This Week ({{ week.distance }} miles)</h2>
        <figure style="width: 100%; height: 300px;" id="week"></figure>

        <h2>Weekly Mileage</h2>
        <div class="tabbable tabs-below">
            <div class="tab-content">
                <div class="tab-pane active" id="tab1">
                    <figure style="width: 650px; height: 300px;" id="weekly"></figure>
                </div>
                <div class="tab-pane" id="tab2">
                    <figure style="width: 650px; height: 300px;" id="weekly-thisyear"></figure>
                </div>
                <div class="tab-pane" id="tab3">
                    <figure style="width: 650px; height: 300px;" id="weekly-6months"></figure>
                </div>
                <div class="tab-pane" id="tab4">
                    <figure style="width: 650px; height: 300px;" id="weekly-3months"></figure>
                </div>
            </div>

            <ul class="nav nav-tabs" id="weekly-tabs">
                <li class="active"><a href="#tab1" data-toggle="tab">All Time</a></li>
                <li><a href="#tab2" data-toggle="tab">This Year</a></li>
                <li><a href="#tab3" data-toggle="tab">6 Months</a></li>
                <li><a href="#tab4" data-toggle="tab">3 Months</a></li>
            </ul>
            
        </div>

        <h2>Mileage This Year</h2>
        <figure style="width: 650px; height: 300px;" id="year"></figure>

    </div>
</div>

<div class="modal fade" id="addrun" style="display:none;">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">x</a>
        <h3>Add A Run</h3>
    </div>
    <form id="addrunform" method="POST" action="/add">
    <div class="modal-body">
            <label for="date">Date (MM-DD-YY)</label>
            <input type="text" name="date" id="date" value="{{ today }}"/>
            <br />
            <label for="distance">Distance (Miles)</label>
            <input type="text" name="distance" id="distance" placeholder="4" />
            <br />
            <label for="time">Time (HH:MM:SS, MM:SS, or MM)</label>
            <input type="text" name="time" id="time" placeholder="28:00"/>
            <br />
            <label for="notes">Notes:</label>
            <textarea name="notes" id="notes" placeholder="Thoughts about your run here"></textarea>
            <br />
    </div>
    <div class="modal-footer">
            <button id="addrunbtn" onclick="" type="submit" class="btn-primary">Add Run</button>
            <!--<button id="addrunbtn" onclick="return false;" type="submit" class="btn-primary">Add Run</button>-->
    </div>
    </form>
</div>
{% end %}

{% block bottom %}
<script src="{{ static_url('js/d3.v2.min.js') }}"></script>
<script src="{{ static_url('js/xcharts.min.js') }}"></script>

<script>
    var weekChart;
    var mileageChart;
    var mileageChartThisYear;
    var mileageChartSixMonths;
    var mileageChartThreeMonths;
    var totalMileageChart;
    $(function() {
        $('#weekly-tabs a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });

        $("#msg").ajaxError(function(event, request, settings){
          $(this).append("<li>Error requesting page " + settings.url + "</li>");
        });

        $.get("/data/{{ str(profile.id) }}/this_week", function(data) {
            var opts = {
              "dataFormatX": function (x) { return d3.time.format('%c').parse(x); },
              "tickFormatX": function (x) { return d3.time.format('%A')(x); }
            };
            weekChart = new xChart('bar', data, '#week', opts);
        });

        $.get("/data/{{ str(profile.id) }}/mileage/weekly", function(data) {
            var opts = {
          "dataFormatX": function (x) { return d3.time.format('%m/%d/%y').parse(x); },
          "tickFormatX": function (x) { return d3.time.format('%x')(x); }
};
            mileageChart = new xChart('line', data, '#weekly', opts);
        });

        $.get("/data/{{ str(profile.id) }}/mileage/weekly?window_weeks=12", function(data) {
            var opts = {
          "dataFormatX": function (x) { return d3.time.format('%m/%d/%y').parse(x); },
          "tickFormatX": function (x) { return d3.time.format('%x')(x); }
};
            mileageChart = new xChart('line-dotted', data, '#weekly-3months', opts);
        });

        $.get("/data/{{ str(profile.id) }}/mileage/weekly?window_weeks=24", function(data) {
            var opts = {
          "dataFormatX": function (x) { return d3.time.format('%m/%d/%y').parse(x); },
          "tickFormatX": function (x) { return d3.time.format('%x')(x); }
};
            mileageChart = new xChart('line-dotted', data, '#weekly-6months', opts);
        });

        $.get("/data/{{ str(profile.id) }}/mileage/weekly?since={{ this_year }}", function(data) {
            var opts = {
                "dataFormatX": function (x) { return d3.time.format('%m/%d/%y').parse(x); },
                "tickFormatX": function (x) { return d3.time.format('%x')(x); }
            };
            mileageChartThisYear = new xChart('line-dotted', data, '#weekly-thisyear', opts);
        });

        $.get("/data/{{ str(profile.id) }}/mileage/weekly?since={{ this_year }}", function(data) {
            var opts = {
          "dataFormatX": function (x) { return d3.time.format('%m/%d/%y').parse(x); },
          "tickFormatX": function (x) { return d3.time.format('%x')(x); }
};
            totalMileageChart = new xChart('cumulative', data, '#year', opts);
        });



        /*
        $("#addrunbtn").click(function(){
            $.post("/add",$("#addrunform").serialize(), function(data){
                alert("hiya");
            });
        });
        */
    });
</script>
<script src="http://code.jquery.com/jquery-migrate-1.0.0.js"></script>

{% end %}
