{% extends 'base.html' %}

{% block content %}
<a href="https://github.com/davidwilemski/openrunlog"><img style="position: absolute; top: 40px; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>

<p>
Welcome to Open Run Log, a fast and easy (and free!) way to record your running. Open Run Log will always be free to use and will focus on making sure it is easy to export your data to make sure you can leave whenever you'd like.
</p>
<p>
Open run log is also Open Source which means you can easily make 
contributions or even run a copy on your own server. <a href="https://github.com/davidwilemski/openrunlog">Fork the code on Github!</a>
</p>

<p>
<a href="/login">Login</a> or <a href="/register">Register<a/>
</p>

{% end %}
