{% extends 'base.html' %}

{% block content %}
<a href="https://github.com/davidwilemski/openrunlog"><img style="position: absolute; top: 40px; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>

<div class="jumbotron">
    <div class="container">
        <div class="page-header"><h1>Welcome to Open Run Log</h1><small>A fast, easy, and free way to record your running.</small></div>
        <p>
          Open Run Log will always be free to use and focuses on making sure you own your data while providing great tools to track and analyze your progress.
        </p>
        <small>
        Open Run Log is also 100% Open Source software.
        <a href="https://github.com/davidwilemski/openrunlog">Fork the code on Github!</a>
        </small>

        <p>
        <a href="/login" class="btn btn-primary btn-lg">Login</a> or <a href="/register" class="btn btn-primary btn-lg">Register</a>
        </p>
    </div>
</div>

{% end %}
