{% extends 'base.html' %}

{% block content %}
<div class="container">
<div class="row">
<h2>Login</h2>
</div>

<div class="row">
<div class="col-lg-4">
<form id="login-form" action="/login" method="POST" class="form form-horizontal">
    <div class="form-group">
        <label for="email">Email Address:</label>
        <input class="form-control" type="email" name="email" id="email" data-required="required" data-type="email" />
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input class="form-control" type="password" name="password" id="password" data-required="required" />
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Log in</button>
    </div>
</form>
</div>
</div>
</div>
{% end %}

{% block bottom %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#login-form').parsley({
            trigger: 'change',
            successClass: 'success',
            errorClass: 'error',
            validationMinlength: '1',
            errors: {
                classHandler: function(elem) {
                    return $(elem).parents('div.control-group').first();
                },
                errorsWrapper: '<span class="help-inline"></span>',
                errorElem: '<span></span>',
            },
        });
        $('input#date').change();
    });
</script>
{% end %}
