{% extends 'base.html' %}

{% block content %}
<h2>Register</h2>

<form action="/register" method="POST">
    <label for="email">Email Address:</label>
    <input type="email" name="email" id="email" required />
    <br />
    <label for="display_name">Display Name:</label>
    <input type="text" name="display_name" id="display_name" required />
    <br />
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required />
    <br />
    <label for="password_confirm">Password (confirm):</label>
    <input type="password" name="password_confirm" id="password_confirm" required />
    <br />
    <input type="submit" value="Register" name="submit" class="btn-primary"/>
</form>
{% end %}
