{% extends 'base.html' %}

{% block content %}
<h2>Register</h2>

<form action="/register" method="POST">
    <label for="email">Email Address:</label>
    <input type="email" name="email" id="email" required />
    <br />
    <label for="display_name">Display Name:</label>
    <input type="text" name="display_name" id="display_name" required />
    <br />
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required />
    <br />
    <label for="password_confirm">Password (confirm):</label>
    <input type="password" name="password_confirm" id="password_confirm" required />
    <br />
    Public Profile: <br />
    <label class="radio inline">
        <input type="radio" name="public" id="public_yes" value="yes" checked>
        Yes
    </label>
    <label class="radio inline">
        <input type="radio" name="public" id="public_no" value="no">
        No
    </label>

    <div class="input-prepend" id="url-wrapper">
        <label for="url">Profile URL:</label>
        <span class="add-on">/user/</span>
        <input type="text" name="url" id="url" value="" />
    </div>
    <br />
    <input type="submit" value="Register" name="submit" class="btn-primary"/>
</form>
{% end %}

{% block bottom %}
<script type="text/javascript">
    $(document).ready(function() {
        var id = $("input[@name=public_yes]:checked").attr('id');
        if(id == 'public_yes') { // then make url required
            $("#url").attr('required', 'true');
        }

        $("input:radio").click(function() {
            console.log("hi");

            id = $("input[@name=public_yes]:checked").attr('id');
            if(id == 'public_yes') { // then make url required
                if(!$("#url").attr('required')){
                    $("#url").attr('required', 'true');
                    $("#url-wrapper").show()
                }
            }
            else { // empty url field
                $("#url").removeAttr('required');
                $("#url").val('');
                $("#url-wrapper").hide()
            }
        });
    });
</script>
{% end %}
