{% extends 'base.html' %}

{% block content %}
<h2>Register</h2>

<form id="register-form" action="/register" method="POST" class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="email">Email Address:</label>
        <div class="controls">
            <input type="text" name="email" id="email" data-required="true" data-type="email"/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="display_name">Display Name:</label>
        <div class="controls">
            <input type="text" name="display_name" id="display_name" data-required="true" data-type="alphanum" />
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="password">Password:</label>
        <div class="controls">
            <input type="password" name="password" id="password" data-required="true" />
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="password_confirm">Password (confirm):</label>
        <div class="controls">
            <input type="password" name="password_confirm" id="password_confirm" data-required="true" />
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="public">Public Profile:</label>
        <div class="controls">
            <label class="radio">
                Yes
                <input type="radio" name="public" id="public_yes" value="yes" data-required="true" checked />
            </label>
            <label class="radio">
                No
                <input type="radio" name="public" id="public_no" value="no" data-required="true" />
            </label>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="url">Profile URL:</label>
        <div class="controls">
            <div class="input-prepend" id="url-wrapper">
                <span class="add-on">/user/</span>
                <input type="text" name="url" id="url" value="" data-required="true" data-type="alphanum" />
            </div>
        </div>
    </div>

    <div class="form-actions">
        <input type="submit" value="Register" name="submit" class="btn btn-primary"/>
    </div>
</form>
{% end %}

{% block bottom %}
<script type="text/javascript" src="/static/js/parsley.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#register-form').parsley({
            trigger: 'change',
            successClass: 'success',
            errorClass: 'error',
            validationMinlength: '1',
            errors: {
                classHandler: function(elem) {
                    return $(elem).parents('div.control-group').first();
                },
                errorsWrapper: '<span class="help-inline"></span>',
                errorElem: '<span></span>',
            },
        });
    });
</script>
{% end %}
