{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ static_url('css/xcharts.min.css') }}" type="text/css" />

<style>
    .center {
        text-align: center;
    }
</style>
{% end %}

{% block content %}
<div class="row">
    <div class="span3">
    {% include '_profile_starter.html' %}

    </div>
    <div class="span9">
        <div class="hero-unit">
            <p class="lead center">
            On {{ run.date.strftime("%A, %B %d, %Y") }} <a href="{{ profile.uri }}">{{ profile.display_name }}</a> ran {{ run.distance }} miles in {{ run.pretty_time }} ({{ run.pace }})
            </p>

        <blockquote>
            <p>{% raw run.pretty_notes %}</p>
        </blockquote>
    </div>
    </div>

</div>

{% end %}
