{% extends 'base.html' %}

{% block content %}
<h2>Settings</h2>

<form action="/settings" method="POST">
    <label for="displayname">Display Name:</label>
    <input type="displayname" name="displayname" id="displayname" value="{{ user.display_name }}" required />
    <br />

    Public Profile: <br />
    <label class="radio inline">
        <input type="radio" name="public" id="public_yes" value="yes" checked>
        Yes
    </label>
    <label class="radio inline">
        <input type="radio" name="public" id="public_no" value="no">
        No
    </label>

    <div class="input-prepend" id="url-wrapper">
        <label for="url">Profile URL:</label>
        <span class="add-on">/user/</span>
        <input type="text" name="url" id="url" value="{{ user.url }}" />
    </div>

    <br />
    <button type="submit" class="btn-primary">Save</button>
</form>

{% end %}

{% block bottom %}
<script type="text/javascript">
    $(document).ready(function() {
        var id = $("input[@name=public_yes]:checked").attr('id');
        if(id == 'public_yes') { // then make url required
            $("#url").attr('required', 'true');
        }

        $("input:radio").click(function() {
            console.log("hi");

            id = $("input[@name=public_yes]:checked").attr('id');
            if(id == 'public_yes') { // then make url required
                if(!$("#url").attr('required')){
                    $("#url").attr('required', 'true');
                    $("#url-wrapper").show()
                }
            }
            else { // empty url field
                $("#url").removeAttr('required');
                $("#url-wrapper").hide()
            }
        });
    });
</script>
{% end %}
