{% extends 'base.html' %}

{% block content %}
<h2>Settings</h2>

<div>
    {% if not user.dailymile_token %}
        <a href="/auth/dailymile"><p>Also post runs to dailymile</p></a>
    {% else %}
        <p>Posting runs to dailymile</p>
        <form action="/settings/dailymile/noexport" method="POST">
            <button type="submit" class="btn-primary">Disconnect from dailymile</button>
        </form>
    {% end %}
</div>

<form id="settings" action="/settings" method="POST" class="form form-horizontal">
    <div class="control-group">
        <label class="control-label" for="displayname">Display Name:</label>
        <div class="controls">
            <input type="text" name="displayname" id="displayname" value="{{ user.display_name }}" data-required="true" />
        </div>
        <label class="control-label" for="hashtags">Hashtags:</label>
        <div class="controls">
            <input type="text" name="hashtags" id="hashtags" value="{{ user.hashtags }}" data-required="true" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Public Profile:</label>
        <div class="controls">
        <label class="radio">
            Yes
            <input type="radio" name="public" id="public_yes" value="yes" data-required="true" {% if user.public %}checked{% end %}>
        </label>
        <label class="radio">
            No
            <input type="radio" name="public" id="public_no" value="no" data-required="true" {% if not user.public %}checked{% end %}>
        </label>
        </div>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>

{% end %}

{% block bottom %}
<script type="text/javascript">
    $(document).ready(function() {
        $('form#settings').parsley({
            trigger: 'change',
            successClass: 'success',
            errorClass: 'error',
            validationMinlength: '1',
            errors: {
                classHandler: function(elem) {
                    return $(elem).parents('div.control-group').first();
                },
                errorsWrapper: '<span class="help-inline"></span>',
                errorElem: '<span></span>',
            },
        });
    });
</script>
{% end %}
